---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
    <div class="contenedor-scroll">
        <div class="flex flex-col items-center h-full px-16 py-8 text-black">
            <h1>BIOGRAFÍA</h1>
            <br />
            <h3>
                Joaquín Sorolla Bastida (Valencia, 27 de febrero de
                1863-Cercedilla, 10 de agosto de 1923) fue un pintor español.
                Artista prolífico, dejó más de 2200 obras catalogadas. Su obra
                madura ha sido etiquetada como impresionista, postimpresionista
                y luminista.
            </h3>
            <br />
            <p>
                Cuando apenas contaba dos años de edad, fallecieron sus padres
                Joaquín Sorolla Gascón y María Concepción Bastida Prat, muertos
                por una epidemia de cólera. Al quedar huérfanos fueron acogidos,
                su hermana Concha y él, por su tía Isabel, hermana de su madre,
                y su marido, de profesión cerrajero. Pasados los años, su tío
                intentó enseñarle, en vano, el oficio de la cerrajería
                advirtiendo pronto que su verdadera vocación era la pintura.
            </p>
            <br />
            <p>
                Estudió dibujo en la "Escuela de Artesanos de Valencia".
                Compartió estudio en la planta baja de la calle Las Avellanas
                n.º 12 de Valencia con José Vilar y Torres, los hermanos
                Benlliure —Blas, José y Juan Antonio— e Ignacio Pinazo
                Camarlench. Al acabar su formación comenzó a enviar sus obras a
                concursos provinciales y exposiciones nacionales de bellas
                artes, como la de Madrid en mayo de 1881, donde presentó tres
                marinas valencianas que pasaron inadvertidas, pues no encajaban
                con la pintura oficial, de temática histórica y dramática.
            </p>
            <br />
            <p>
                Al año siguiente estudió la obra de Velázquez y otros autores en
                el Museo del Prado. Tras visitar el Museo del Prado, Sorolla
                pintó en 1883 el lienzo inédito Estudio de Cristo, descubierto
                en 2012, donde se observa la influencia del Cristo crucificado
                de Velázquez. Comienza así su "etapa realista", siendo su
                profesor Gonzalo Salvá. Por fin, en 1883, consiguió una medalla
                en la Exposición Regional de Valencia, y en 1884 alcanzó la
                gloria al conseguir la Medalla de segunda clase en la Exposición
                Nacional gracias a su obra Defensa del parque de artillería de
                Monteleón, obra melodramática y oscura, hecha expresamente para
                la exposición; tal y como le dijo a un colega suyo: «Aquí, para
                darse a conocer y ganar medallas hay que hacer muertos».
            </p>
            <br />
            <p>
                Cosechó otro gran éxito en Valencia con su obra El crit del
                palleter sobre la guerra de la Independencia. De esta manera,
                fue pensionado por la Diputación Provincial de Valencia para
                viajar a Roma, donde, a la vez que trabajaba, conoció el arte
                clásico y renacentista, así como los grandes museos,
                contactando, además, con otros artistas.
            </p>
            <br />
            <p>
                Con su amigo, el también pintor Pedro Gil, se desplazó a París
                durante el primer semestre de 1885, y conoció de cerca la
                pintura impresionista, que produjo en él, ya de regreso en Roma,
                variaciones en su temática y estilo, llegando a pintar el cuadro
                religioso El entierro de Cristo, con el que no tuvo el éxito
                esperado. Tomó así contacto con las vanguardias europeas,
                destacando el impacto que le produjeron las obras de los
                pintores John Singer Sargent, Giovanni Boldini y Anders Zorn.
            </p>
            <br />
            <p>
                En 1888, contrajo matrimonio con Clotilde García del Castillo en
                Valencia, aunque vivirían un año más en Italia, esta vez en la
                localidad de Asís. A esa época se relacionan algunas de sus
                obras, entre ellas Vendiendo melones (Museo Carmen Thyssen
                Málaga), época en la que pintaba temas costumbristas y
                anecdóticos, por su fácil venta. Por lo general eran pequeñas
                acuarelas que comercializaba su marchante, Francisco Jover.
            </p>
        </div>
    </div>
</Layout>

<style lang="scss">
    p {
        font-size: 1rem;
    }
</style>
