---
import Layout from "../layouts/Layout.astro";
---

<!--CONTACTO: Sección para contactar con el propietario de la página.

UTILIZA 1 TRANSICIÓN
UTILIZA ANIDACIÓN Y VARIABLES
-->
<Layout title="Welcome to Astro.">
    <div class="contenedor-scroll">
        <h1>CONTACTO</h1>
        <br />
        <form id="formulario-mensaje" class="contenedor-formulario">
            <label class="my-3 text-base md:text-lg lg:text-base" for="nombre"
                >Nombre:</label
            >
            <input
                class="h-10 w-full text-base px-2 md:text-lg lg:text-base"
                type="text"
                id="nombre"
                name="nombre"
                placeholder="Nombre"
                required
            />
            <br />
            <br />
            <label class="my-3 text-base md:text-lg lg:text-base" for="email"
                >Email:</label
            >
            <input
                class="h-10 w-full text-base px-2 md:text-lg lg:text-base"
                type="email"
                id="email"
                name="email"
                placeholder="Email"
                required
            />
            <br />
            <br />
            <label class="my-3 text-base md:text-lg lg:text-base" for="mensaje"
                >Mensaje:</label
            >
            <br />
            <textarea
                class="h-40 w-full text-base px-2 md:text-lg lg:text-base"
                id="mensaje"
                name="mensaje"
                placeholder="Mensaje"
                required
                style="resize: none;"></textarea>
            <br />
            <a class="enviar" href="/contacto">Enviar</a>
        </form>
    </div>
</Layout>

<style lang="scss">
    $negro: black;
    
    h1 {
        color: $negro;
        font-weight: bold;
    }

    form {
        color: $negro;
        .enviar, input, textarea {
            transition: all 0.4s ease-in-out;
        }

        input:hover, textarea:hover {
            box-shadow: 0rem 0rem 1.6rem -0.4rem rgba(0, 0, 0, 0.397);
        }

        .enviar:hover {
            color: rgb(131, 91, 52);
        }
    }
</style>
