---
import Layout from "../layouts/Layout.astro";
---

<!-- INDEX: Página principal con título y descripción.

UTILIZA 1 TRANSICIÓN (tailwind) Y UNA ANIMACIÓN
UTILIZA 1 MIXIN
-->
<Layout title="Welcome to Astro.">
    <a
        href="https://es.wikipedia.org/wiki/Joaqu%C3%ADn_Sorolla"
        class="flex flex-col items-center justify-center h-full hover:scale-105 transition-all duration-500"
    >
        <h1 class="text-4xl font-bold -mt-8">JOAQUÍN SOROLLA</h1>
        <h2 class="absolute ml-20 mt-8 text-3xl">Pintor español</h2>
    </a>
</Layout>

<style lang="scss">
    @mixin cambio-color($color1, $color2) {
        animation: cambio-color 4s linear infinite;

        @keyframes cambio-color {
            0%,
            49% {
                color: $color1;
            }
            50%,
            99% {
                color: $color2;
            }
        }
    }

    h1 {
        --color-1: white;
        --color-2: black;
        @include cambio-color(var(--color-1), var(--color-2));
    }

    h2 {
        --color-1: black;
        --color-2: white;
        @include cambio-color(var(--color-1), var(--color-2));
    }
</style>
