---
interface Props {
	title: string;
}

const { title } = Astro.props;

import Header from "../components/Header.astro";
import Carousel from "../components/Carousel.astro";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap"
			rel="stylesheet"
		/>
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<div class="contenedor-principal">
			<div class="carousel-fondo"><Carousel /></div>
			<div class="contenedor-secundario">
				<slot />
			</div>
		</div>
	</body>
</html>
<style lang="scss" is:global>
	/* MOBILE FIRST */

	/* Scrollbar */
	*::-webkit-scrollbar {
		width: 0.2rem;
		height: 0.2rem;
	}

	*::-webkit-scrollbar-thumb {
		background-color: #00000065;
		border-radius: 0.2rem;
	}

	body {
		background-color: rgb(172, 172, 172);
		font-family: "DM Serif Display", serif;
	}

	/* Contenedores */
	.contenedor-principal {
		overflow: hidden;
		height: 92vh;
		width: 100vw;
		position: relative;

		.contenedor-secundario {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: white;
			font-size: 1.25rem;
			z-index: 2;
			width: 70%;
		}

		.contenedor-scroll {
			height: 92vh;
			padding-top: 8%;
			padding-bottom: 8%;
			padding-left: 12%;
			padding-right: 12%;
			overflow-y: auto;
			background-color: rgba(255, 255, 255, 0.856);
			animation: opacidad 0.5s linear;
		}

		@keyframes opacidad {
			0% {
				opacity: 0;
			}

			100% {
				opacity: 100;
			}
		}
	}

	/* TABLET */

	@media (min-width: 768px) {
		/* Scrollbar */
		*::-webkit-scrollbar {
			width: 0.3em;
			height: 0.3em;
		}
	}

	/* LAPTOP */

	@media (min-width: 1024px) {
		/* Contenedores */
		.contenedor-secundario {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: white;
			font-size: 20px;
			z-index: 2;
			width: 66%;
		}
	}
</style>
